/**
 This file contains all the variables used for styling your app.
 */

// Colors
$background-color: #F0F0F0;
$linearGradient: linear-gradient(to right, #24c6dc, #514a9d);

$white: white;

// Borders
$borderRadius: 0.5em;
